* {
    padding: 0px;
    margin: 0px;
}

body {
    background: rgb(255,209,102);
background: radial-gradient(circle, rgba(255,209,102,1) 0%, rgba(239,71,111,1) 100%);  
}

#root {
    //Configuración de layout
    display: flex;
    flex-direction: column; //Header-Main-Footer formarán una columna
}

a {
    text-decoration: none;
    color: black;
}