@import '../utils/mixins.scss';
@import '../utils/variables.scss';


.pokemon-detail {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .card-detail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family:"PokemonSolidNormal";
    width: 90%;
    max-width: 300px;
    border-radius: 10px;
    border-width: 3px;
    border: solid 10px white;
    @include shadow (rgb(238, 2, 2));

    &>p {
        gap: 10px;
    }
  }

  @media (min-width: $phone-breakpoint) and (max-width: 899px) {
    /* flex-direction: row;
     justify-content: center;*/
 
     .card-detail {
       /*flex: 0 1 calc(50% - 20px); //dos cards por fila*/
       max-width: 500px;
     }
   }
 
   @media (min-width: 900px) {
    /* flex-direction: row;
     justify-content: center;*/
 
     .card-detail {
       /*flex: 0 1 calc(33.33% - 20px); //tres cards por fila*/
       max-width: 500px;
     }
   }