@font-face {
    font-family: "SugarBomb";
    src: local("SugarBomb"),
      url("/src/fonts/SugarBomb-EapEW.ttf") format("truetype");
  }

  @font-face {
    font-family:"PokemonSolidNormal";
    src: local("PokemonSolidNormal"),
        url("/src/fonts/PokemonSolidNormal-xyWR.ttf") format("truetype");
  }