$primary-color: #ef476f;
$secondary-color:#ffd166;
$green: #06d6a0;
$dark-blue: #073b4c;
$light-blue: #118ab2;
$black: #040f16;

$phone-breakpoint: 600px;
$ipad-breakpoint: 768px;
$desktop-breakpoint: 992px;